// Navigation Styles here
.top{
	border-bottom: 2px dashed @navigation-border;
	.top-nav {
		max-width: 800px;
		display: flex;
		justify-content: space-between;
		margin: 30px auto;
		width: 100%;
		.nav-bar{
			button{
				border: none;
				padding: 4px 8px;
				font-size: 1.3rem;
				&:hover{
					color: grey;
				}
			}
		}
	}
}
